<!DOCTYPE html>
<html class="no-js" ng-app="youtubeSearchApp">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" href="assets/css/vendor/normalize.css">
        <link rel="stylesheet" href="assets/css/styles.css">
        <title>A YouTube search app</title>
    </head>
    <body>
        <div id="container">
            <div id="search-holder" ng-controller="SearchController">
                <div id="search-box">
                    <div id="search-box-error" class="alert alert-error" ng-show="hasError">
                        An error has occurred!
                    </div>
                    <form ng-submit="onSearchSubmit()">
                        <label>
                            Search for
                            <input name="search" type="search" ng-model="varSearch" placeholder="Search for..." />
                            <button type="submit">Go</button>
                        </label>
                    </form>
                </div>
                <div id="search-results">
                    <ul>
                        <li ng-repeat="item in items">
                            <a href="{{ item.href }}">
                                <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
                                <span>{{ item.title }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="assets/js/vendor/angular-1.0.3.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/app.controller.search.js"></script>
        <script src="assets/js/app.factory.youtube.js"></script>
        <script src="assets/js/app.service.youtube.js"></script>
    </body>
</html>