<div id="search-holder">
    <div id="search-box">
        <form ng-submit="search()">
            <label>
                Search for
                <input name="search" type="search" />
                <button type="submit">Go</button>
            </label>
        </form>
    </div>
    <div id="search-results">
        <ul>
            <li ng-repeat="item in items">
                <a href="{{ item.href }}">
                    <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
                    <span>{{ item.title }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>